<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" debug="false">
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="LogStash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/gestaosva.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/gestaosva.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="br.com.vr" level="INFO" additivity="false">
        <appender-ref ref="LogStash" />
    </logger>
</configuration>
